#navigation, .garage-menu {
    padding-bottom: 10px;
}

.hidden-page {
    display: none;
}

.create-container, .update-container, .manage-container {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-bottom: 8px;
}

#create-name, #update-name {
    padding: 3px;
    border-radius: 5px;
}

#create-color, #update-color {
    height: 20px;
}

#create-color, #update-color {
    border-radius: 5px;
}

.button {
    width: 85px;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
}

.button:hover {
    cursor: pointer;
}

#generate-cars {
    width: 135px;
}

.title, .page {
    padding-bottom: 15px;
}

.title {
    font-size: 20px;
}

.pagination-container {
    margin-top: 50px;
}

/* .winner-message-container {
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
} */

.winner-message {
    position: absolute;
    top: 50%; left: 35%;
    margin: 0 auto;
    z-index: 999;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 175, 175);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    background-color: black;
    box-shadow: 0 0 0.4em olive, 0 0 .4em olive;
    border-radius: 10px;
}