#winners-content {
    margin-top: 40px;
}

.table-winners {
    display: inline-flex;;
    flex-direction: column;
    margin-bottom: 50px;
}

.header-table {
    display: flex;
    background-color: rgb(96, 149, 242);
}

.winner-cars-container {
    display: inline-flex;
    flex-direction: column;
}

#winner-car-content {
    display: flex;
}

.header-number, .winner-number {
    width: 70px;
}

.header-car, .winner-car {
    width: 40px;
    padding-right: 60px;
}

.header-name, .winner-name {
    width: 150px;
}

.header-wins, .winner-wins {
    width: 60px; 
}

.winner-icon-car {
    width: 40px;
    height: 20px;
}