* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
    background: #000;
    font-family: sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 1920рх;
    padding: 0 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    column-gap: 10%;
}

.logo-store-link {
    display: block;
    width: 100px;
    height: 40px;
    background-image: url('./assets/logo-store.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}

.shop-cart {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    width: 60px;
    height: 40px;
    background-image: url('assets/icons/cart.png');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.count-of-products-in-cart-container {
    display: flex;
    color: red;
    padding: 4px;
    height: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.1rem;
    font-weight: 600;
    background-color: #000;
    border-radius: 10px;
}

.main-container {
    padding: 20px 20px;
}

.sorry {
    display: none;
    height: calc(100vh - 400px);
    font-size: 1.5rem;
}

.sorry-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    display: none;
    min-width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
}

.full-active {
    display: flex;
    position: fixed;
    z-index: 100;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    background-color: rgb(99, 99, 99);
}

.cross-container {
    position: absolute;
    top: 10px;
    right: 20px;
}

.cross-container:hover {
    cursor: pointer;
}

.line-1, .line-2 {
    display: block;
    position: absolute;
    width: 3px;
    height: 20px;
    background-color: #fff;
}

.line-1 {
    transform: rotate(45deg);
}

.line-2 {
    transform: rotate(-45deg);
}





.filters-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

.filters-value-container, .filters-range-container, .filters-sort-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
}

.filters-range-container {
    justify-content: space-between;
}

.filters-value-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filter-type, .filter-producer, .filter-color {
    display: flex;
    flex-direction: column;
    padding: 10px;
}





.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#slider-price, #slider-count {
    width: 150px;
    height: 12px;
    margin: 0 20px;
}

#slider-price:hover, #slider-count:hover {
    cursor: pointer;
}

.price-filter-container, .count-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-slider-container, .count-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-value {
    width: 40px;
    text-align: center;
}






.sort-title {
    align-self: flex-start;
}

.sort-container, .search-container {
    align-self: flex-start;
}

#select-sort:hover, .checkbox:hover, .checkbox-text:hover {
    cursor: pointer;
}

.reset {
    padding: 3px;
    border-radius: 5px;
}

.reset:hover {
    cursor: pointer;
}

.search, #select-sort {
    padding: 1px;
}

.search {
    padding-left: 4px;
}








.instruments-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 250px;
    height: 350px;
    color: #000;
    border-radius: 10px;
    padding: 10px;
}

.choose {
    box-shadow: 5px 5px 5px red, -5px -5px 5px red, 5px -5px 5px red, -5px 5px 5px red;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;	
}

.image-container {
    width: 230px;
    height: 150px;
}

.manage-cart {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 60px;
    color: #fff;
    background-color: rgb(100, 100, 100);
    padding: 5px;
    border-radius: 15px;
}

.button:hover {
    cursor: pointer;
}

.manage-cart-value {
    font-size: 1.3rem;
    line-height: 0;
}




footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.developer-information-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.footer-logo {
    background-color: white;
    height: 25px;
}

.link {
    text-decoration: none;
    line-height: 0;
}

.github-link {
    color: #fff;
}

