* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
    background: #000;
    font-family: sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 1920рх;
    padding: 0 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    column-gap: 10%;
}

.logo-store-link {
    display: block;
    width: 100px;
    height: 40px;
    background-image: url('./assets/logo-store.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
}

.shop-cart {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    width: 60px;
    height: 40px;
    background-image: url('assets/icons/cart.png');
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.count-of-products-in-cart-container {
    display: flex;
    color: rgb(54, 210, 30);
    padding: 3px;
    height: 1.4rem;
    font-size: 1.5rem;
    line-height: 1.1rem;
    font-weight: 600;
    background-color: #000;
    border-radius: 10px;
}

.main-container {
    padding: 20px 20px;
}

.instruments-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 250px;
    height: 350px;
    color: #000;
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;	
}

.image-container {
    width: 250px;
    height: 200px;
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.developer-information-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.footer-logo {
    background-color: white;
    height: 25px;
}

.link {
    text-decoration: none;
    line-height: 0;
}

.github-link {
    color: #fff;
}

