* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }

html {
  scroll-behavior: smooth;
  font-size: 10px;
  }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
}

.background-burger {
  display: none;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  }

.header {
  position: absolute;
  height: 180px;
  margin: 0 auto;
  padding: 60px 0;;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.logo, .logo-mobile {
  text-align: center;
}

.logo:hover, .logo-mobile:hover {
  cursor: pointer;
}

h1 {
  font-family: 'Georgia', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.logo-subtitle {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 265%;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.nav-list {
  display: flex;
  justify-content: space-between;  
  list-style: none;
  margin-bottom: 0.7em;
  font-size: 1.5rem;
  width: 29.5em;
}
    
.nav-link {
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
  transition: 0.5s;
}

.nav-link:hover {
  color: var(--color-light-s);
}

.active-link {
  border-bottom: 3.5px solid var(--color-primary);
}

.active-link .nav-link {
  color: var(--color-light-s);
}

.burger {
  display: none;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 20;
  cursor: pointer;
  transition: 0.5s;
  }
  
  .burger-line1, .burger-line2, .burger-line3 {
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
    display: block;
    transition: 0.5s;
  }

.start-screen {
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 69%), #211F20;
  color: black;
  display: flex;
  justify-content: space-between;
}

.start-screen-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 460px;
  height: 322px;
  margin-top: 343px;
}

.start-screen-title {
  width: 310px;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: var(--color-light-xl);
}

.start-screen-text-content {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-s);
}

.button-primary {
  width: 207px;
  height: 52px;
  padding: 15px 0;
  border-radius: 100px;
  background-color: var(--color-primary);
  text-align: center;
}

.button {
  transition: 0.5s;
}

.button:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
  border-color: var(--color-primary-light);
}

.button-link {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  text-decoration: none;
}

/* .button-primary:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
} */

.start-screen-pappy-container {
  margin-top: 180px;
  width: 698px;
  height: 728px;
  background-image: url('../../assets/images/start-screen-puppy.png');
}

/* ------- about ----------*/
.about {
  background-color: var(--color-light-xl);
}

.about-container {
  display: flex;
  justify-content: center;
  padding: 80px 0px 100px 0px;
  width: 100%;
}

.about-pets {
  width: 300px;
  height: 408px;
  background-image: url('../../assets/images/about-pets.png');
  margin-right: 10%;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 380px;
  margin-top: 14px;
}

.about-title {
  width: 370px;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  display: flex;
  align-items: left;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.about-text-content {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: var(--color-dark-l);
}

/* ------ pets --------- */

.pets {
  padding: 80px 40px 100px 40px;
  background-color: var(--color-light-l);
}

.pets-container {
  width: 100%;
  height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pets-title {
  width: 400px;
  text-align: center;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.slider-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-arrow-left {
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-image: url('../../assets/images/button-arrow/Arrow_left.png');
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--color-primary);
  transition: 0.5s;
}

/* .button-arrow-left:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
} */

.pets-content {
  display: flex;
  justify-content: space-between;
  max-width: 990px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  width: 270px;
  height: 435px;
  border-radius: 9px 9px 9px 9px;
  background-color: var(--color-light-s);
  transition: 0.5s;
}

.second-card {
  margin: 0 90px 0 90px;
}

.card-image {
  max-width: 270px;
  height: 270px;
  background-color: var(--color-light-s);
  border-radius: 9px 9px 0 0;
}

.img-pet {
  width: 100%;
  height: 100%;
  border-radius: 9px 9px 0 0;
}

.card-name {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.card:hover .button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  transition: 0.5s;
}

.button-secondary {
  width: 187px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-light-s);
  transition: 0.5s;
  padding: 14px;
  text-align: center;
}



.button-primary-rest {
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background-color: var(--color-primary);
  padding: 16px;
  text-align: center;
}

.button-arrow-right {
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-image: url('../../assets/images/button-arrow/Arrow_left.png');
  transform: rotate(-180deg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--color-primary);
  transition: 0.5s;
}

/* .button-arrow-right:hover {
  cursor: pointer;
  background-color: var(--color-primary-light);
} */
/* ------------  help  ---------------*/
.help {
  padding: 80px 40px 40px;
  background-color: var(--color-light-xl);
}

.container-help {
  text-align: center;
}

.help-title {
  max-width: 310px;
  margin: 0 auto;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.help-icons-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 56px;
  justify-content: center;
  max-width: 1031px;                  /* заадаптивить!!!!!!!*/
  margin: 60px auto;
  padding-left: 2px;
}

.help-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 112px;
}

.help-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.help-image-pet-food {
  background-image: url('../../assets/icons/icon-pet-food.svg');
}

.help-image-transportation {
  background-image: url('../../assets/icons/icon-transportation.svg');
}

.help-image-toys {
  background-image: url('../../assets/icons/icon-toys.svg');
}

.help-image-bowls-and-cups {
  background-image: url('../../assets/icons/icon-bowls-and-cups.svg');
}

.help-image-shampoos {
  background-image: url('../../assets/icons/icon-shampoos.svg');
}

.help-image-vitamins {
  background-image: url('../../assets/icons/icon-vitamins.svg');
}

.help-image-medicines {
  background-image: url('../../assets/icons/icon-medicines.svg');
}

.help-image-collars {
  background-image: url('../../assets/icons/icon-collars-leashes.svg');
}

.help-image-sleeping-areas {
  background-image: url('../../assets/icons/icon-sleeping-area.svg');
}

.help-card-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

/*-------------  donation  ---------*/

.donation {
  padding: 80px 0 99.9px 0;
  background-color: var(--color-light-l);
}

.container-donation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container-donation-dog {
  width: 505px;
  height: 261px;
}

.container-donation-text {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  height: 282px;
  justify-content: space-between;
  align-items: flex-start;
}

.donation-title {
  max-width: 300px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.name-bank {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.credit-card {
  display: flex;
  padding: 10px 15px;
  background-color: var(--color-primary);
  border-radius: 9px;
  column-gap: 15px;
  transition: 0.5s;
}

.credit-card:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
}

.card-icon {
  background-image: url('../../assets/icons/credit-card.svg');
  width: 30px;
  height: 23px;
}

.number-credit-card {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-decoration: none;
  transition: 0.5s;
}

.legal-information {
  font-family: 'Arial';
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 18px;
  color: var(--color-dark-m);
}


/*-------------  footer  ---------*/

.footer-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 69%), #211F20;
}

.footer-text-container {
  display: flex;
  column-gap: 160px;
}

.for-questions-container, .for-visit-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  row-gap: 40px;
}

.for-visit-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  row-gap: 33px;
}

.for-questions-container {
  max-width: 279px;
}

.for-visit-container {
  max-width: 302px;
}

.questions-title, .visit-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}

.questions-contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.visit-places-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.letter-img {
  background-image: url('../../assets/icons/icon-email.svg');
  width: 40px;
  height: 32px;
}

.phone-img {
  background-image: url('../../assets/icons/icon-phone.svg');
  width: 40px;
  height: 32px;
}

.place-img {
  background-image: url('../../assets/icons/icon-marker.svg');
  width: 22px;
  height: 32px;
}

.footer-link-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.footer-link {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  text-decoration: none;
}

.boston-place {
  max-width: 280px;
}

.container-footer-dog {
  line-height: 0;
}


/* ------------  MEDIA ------------ */

@media (max-width: 1279.9px) {

  .container {
    max-width: 1279.9px;
    margin: 0 auto;
    padding: 0 30px;
    }
  
  .header {
    height: 60px;
    padding: 30px 0;;
    }

/*------------------   not only -------------------*/

  .start-screen {
    display: block;
    padding-top: 150px;
    width: 100%;
  }
  
  .start-screen-text-container {
    margin: 0 auto 100px;
  }
  
  .button-primary {
    align-self: center;
  }
  
  .start-screen-pappy-container {
    width: 569px;
    height: 593px;
    background-size: contain;
    margin: 0 0 0 auto;
  }

  /*------------------   about -------------------*/
  
  .about-container {
    flex-direction: column-reverse;
    row-gap: 80px;
    align-items: center;
  }
  
  .about-pets {
    margin-right: 0;
  }
  
  .about-text {
    margin-top: 0;
  }

  /*------------------   our friends -------------------*/

  .pets {
    padding: 80px 30px 100px 30px;
  }

  .third-card {
    display: none;
  }
  
  .pets-content {
    width: 65%;
    min-width: 580px;
  }
  
  .second-card {
    margin: 0;
  }
  
  /*  --------  help  -------- */
  
  .help {
    padding: 80px 30px 40px;
  }
  
  .help-icons-container {
    column-gap: calc((88.98% - 510px)/2);
    padding-left: 0;
  }
  
  .help-card {
    width: 170px;
  }

    /*  --------  donation  -------- */
  
    .donation {
      padding: 80px 0 99.9px 0;
    }
    
    .container-donation {
      flex-direction: column-reverse;
      row-gap: 60px;
    }
    
 /*  --------  footer  -------- 180   880*/

 .footer-container {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;

}

.footer-text-container {
  display: flex;
  width: 70%;
  min-width: 640px;
  justify-content: space-between;
  column-gap: 9.375%;
}

.for-questions-container, .for-visit-container {
  margin-top: 0;
}
}



@media (max-width: 767.9px) {
  .container {
    max-width: 767.9px;
    padding: 0 10px;
    }
  
  .header {
    padding-right: 43px;
    }

  .burger {
    display: flex;
    margin-bottom: 10px;
  }

  .nav-list {
    display: none;
  }

/*   3 week  */
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: calc((100vh - 328.3px)/2 - 69.65px - 30px);
    position: fixed;
    padding: 30px 0 10px;
    right: -320px;
    top: 0px;
    z-index: 5;
    width: 320px;
    height: 100%;
    background-color: var(--color-dark-3xl);
    transition: 0.5s;
  }

  .logo-mobile {
    padding-left: 10px;
    align-self: flex-start;
  }

  .nav-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin: 0;
  }

  .nav-link {
    font-size: 3.2rem;
    line-height: 160%;
  }

  .background-burger-open {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 3;
    background: rgba(41, 41, 41, 0.6);
  }

  .burger-open {
    transform: rotate(-90deg);
}

  .mobile-menu-open {
    right: 0;
  }

  .logo-open {
    visibility: hidden;
  }



  /* ----- finish 3 week -----*/

  /*  ------ not only  -------*/

  .start-screen {
    padding-top: 150px;
  }

  .start-screen-text-container {
    width: 100%;
    height: 296px;
    align-items: center;
    margin-bottom: 105px;
  }
  
  .start-screen-title {
    font-size: 2.5rem;
    width: 230px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  
  .start-screen-text-content {
    text-align: center;
  }

  .start-screen-pappy-container {
    width: 260px;
    height: 271.77px;
    background-size: contain;
  }

  /* ------- about ---------*/

  .about-container {
    padding-top: 42px;
    padding-bottom: 42.4px;
    row-gap: 42px;
  }
  
  .about-pets {
    width: 260px;
    height: 353.6px;
    background-size: contain;
  }

  .about-title {
    width: 270px;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3px;
  }
  
  .about-text {
    height: 494px;
    width: 300px;
    padding: 0 15px;
  }

 .about-text-content {
   text-align: justify;
 }

  /* ------- our friends ---------*/

  .pets {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .pets-container {
    height: 707px;
  }

  .pets-title {
    font-size: 2.5rem;
    width: 100%;
  }

  .slider-container {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 20px;
    padding: 0 calc((100% - 270px)/2);
  }

  .second-card {
    display: none;
  }
  
  .pets-content {
    order: -1;
    min-width: 270px;
    width: 270px;
  }
  
  /*  --------  help  -------- */

  .help {
    padding-top: 42px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 42px;
  }

  .help-title {
    font-size: 2.5rem;
    width: 270px;
  }
  
  .help-icons-container {
    column-gap: 30px;
    padding-left: 0;
    row-gap: 30px;
    margin-top: 42px;
    justify-content: flex-start;
    margin-bottom: 0px;
  }
  
  .help-card {
    width: 130px;
    height: 87px;
  }

  .help-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-size: contain;
  }

  .help-card-title {
    font-size: 1.5rem;
  }

    /*  --------  donation  -------- */
  
    .donation {
      padding: 42px 10px 41px;
    }

    .donation-title {
      max-width: 225px;
      font-size: 2.5rem;
    }
    
    .container-donation {
      row-gap: 42px;
    }

    .container-donation-text {
      align-items: center;
      text-align: center;
      height: 281px;
    }

    .name-bank {
      letter-spacing: 0;
      text-align: justify;
    }

    .container-donation-dog, .img-donation-dog {
      width: 260px;
      height: 135.2px;
    }

    .credit-card {
      align-items: center;
    }

    .number-credit-card {
      font-size: 1.5rem;
      line-height: 110%;
    }

    .legal-information {
      text-align: justify;
      margin: 0 10px;
    }
    
 /*  --------  footer  -------- */

 .footer h3 {
   font-size: 2.5rem;
 }
 
 .footer-container {
  padding-top: 30px;
  row-gap: 43px;
}

.footer-text-container {
  flex-direction: column;
  min-width: 320px;
  align-items: center;
  row-gap: 40px;
}

.for-questions-container, .for-visit-container {
  align-items: center;
  text-align: center;
}

.footer-link-container {
  justify-content: center;
}

.visit-title {
  margin: 0 15px;
}

.visit-places-list {
  align-items: flex-start;
}

.footer-link {
  text-align: left;
}

.for-visit-container {
  row-gap: 37px;
}

.visit-places-list {
  row-gap: 38px;
}

.footer-dog {
  width: 260px;
  height: 269px;
}
}