.car-content {
    padding-bottom: 10px;
}

.icon-car { 
    width: 100px; 
    height: 40px;
    margin-bottom: -15px;
    align-self: flex-end;
  }

.car-menu {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.car-manage {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-bottom: 2px dashed #FFFFFF;
}

.start, .stop {
    width: auto;
    align-self: center;
    font-size: 13px;
}

.flag-container {
    width: 30px;
    height: 40px;
    background-image: url('../../assets/flag.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: auto;
    margin-right: 100px;
}
